h1{
    font-family: 'Audiowide', cursive;
    font-size: 50px;
    font-weight: 900;
}
h2{
    font-family: 'Audiowide', cursive;
    font-size: 30px;
    font-weight: 900;
}
h3{
    font-family: 'Audiowide', cursive;
    font-size: 46px;
    font-weight: 900;
}
p{
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color:white;
    background-image: linear-gradient(rgb(0, 119, 255),rgb(0, 119, 255));
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Audiowide', cursive;
    margin-top: auto;
}
.first-photo{
    width: 80%;
    padding-top: 0%;
    padding-left: 20%;
}
.first{
    display: flex;
    padding: 7% 12%;
}
.second{
    display: flex;
    padding: 2% 12%;
}

#second1{
    border: 1px solid beige;
    border-radius: 40px;
    padding: 5% 5%;
    padding-right: 10%;
    background-color: rgba(177, 232, 240, 0.644);
    height: 85%;
}
#second2{
    border: 1px solid beige;
    border-radius: 40px;
    padding: 5% 5%;
    margin-left: 5%;
    background-color: rgba(228, 179, 176, 0.644);
    height: 85%;
}
#second3{
    border: 1px solid beige;
    border-radius: 40px;
    padding: 5% 5%;
    margin-left: 5%;
    width: 3000px;
    background-color: rgba(250, 243, 203, 0.733);
    height: 85%;
}
#mission2022{
    color:rgb(0, 113, 219);
}
#line-border{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(111, 0, 255),rgb(111, 0, 255));
    border-image-slice: 1;
    padding-left: 10px;
}
.alignment{
    text-align: center;
}
#color-2022{
    color:rgb(0, 113, 219);
}
.illustration{
    width: 65%;
    align-content: center;
}
.illustration1{
    width: 80%;
    align-content: center;
}
.third{
    display: flex;
    padding: 7% 12%;
    background-image: url(images/shape-1.png);
    background-size: 10%;
    background-position: 9% 45%;
    background-repeat: no-repeat;
}
 #limits{
    margin-left: 10%;
 }
 #color-limits{
    color:rgb(0, 113, 219);
}
.fourth{
    display: flex;
    padding: 2% 12%;
    background-image: url(images/shape-1.png);
    background-size: 10%;
    background-position: 92% 105%;
    background-repeat: no-repeat;
}
#fourth-border{
    margin-right: 10%;
}